<%=form_for [:project,@fee] do |t|%>
<div class="widget-box">
	<div class="widget-header">
		<h5 class="widget-title">Default Widget Box</h5>
	</div>

	<div class="widget-body">
		<div class="widget-main">
<div>
<label for="form-field-8">Default</label>
<textarea placeholder="Default Text" id="form-field-8" class="form-control"></textarea>
</div>
		</div>
	</div>
</div>
<% end %>


