<div class="widget-box">
	<div class="widget-header">
		<h5 class="widget-title smaller">按送货日期查询</h5>
	</div>

	<div class="widget-body">
		<div class="widget-main padding-6">
<%=_recent_month search_project_finance_index_url(:item_id=>@item.id),''%>
		</div>
	</div>
</div>