<div class="col-xs-12 col-sm-3 center">
										<div>
											<!-- #section:pages/profile.picture -->
											<span class="profile-picture">
												<img src="<%=@user.photos.url(:b)%>" alt="" class="img-responsive" id="avatar"></img>
											</span>

											<!-- /section:pages/profile.picture -->
											<div class="space-4"></div>

											<div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
												<div class="inline position-relative">
													<a class="user-title-label" href="#">
													<span class="white"><%=@user.username%></span>
													</a>
												</div>
											</div>
										</div>

										<div class="space-6"></div>

										<!-- #section:pages/profile.contact -->
										


										<!-- /section:custom/extra.grid -->
										<div class="hr hr16 dotted"></div>
									</div>