<div class="col-xs-12 col-sm-3 center">
										<div>
											<!-- #section:pages/profile.picture -->
											<span class="profile-picture">
												<img src="<%=@user.photos.url(:b)%>" alt="" class="img-responsive" id="avatar"></img>
											</span>

											<!-- /section:pages/profile.picture -->
											<div class="space-4"></div>

											<div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
												<div class="inline position-relative">
													<a class="user-title-label" href="#">
													<span class="white"><%=@user.username%></span>
													</a>
												</div>
											</div>
										</div>

										<div class="space-6"></div>

										<!-- #section:pages/profile.contact -->
										<div class="profile-contact-info">
											<div class="profile-contact-links align-left">
												<a class="btn btn-link" href="#">
													<i class="ace-icon fa fa-plus-circle bigger-120 green"></i>
													Add as a friend
												</a>

												<a class="btn btn-link" href="#">
													<i class="ace-icon fa fa-envelope bigger-120 pink"></i>
													Send a message
												</a>

												<a class="btn btn-link" href="#">
													<i class="ace-icon fa fa-globe bigger-125 blue"></i>
													www.alexdoe.com
												</a>
											</div>

											<div class="space-6"></div>

											<div class="profile-social-links align-center">
												<a data-original-title="Visit my Facebook" title="" class="tooltip-info" href="#">
													<i class="middle ace-icon fa fa-facebook-square fa-2x blue"></i>
												</a>

												<a data-original-title="Visit my Twitter" title="" class="tooltip-info" href="#">
													<i class="middle ace-icon fa fa-twitter-square fa-2x light-blue"></i>
												</a>

												<a data-original-title="Visit my Pinterest" title="" class="tooltip-error" href="#">
													<i class="middle ace-icon fa fa-pinterest-square fa-2x red"></i>
												</a>
											</div>
										</div>

										<!-- /section:pages/profile.contact -->
										<div class="hr hr12 dotted"></div>

										<!-- #section:custom/extra.grid -->
										<div class="clearfix">
											<div class="grid2">
												<span class="bigger-175 blue">25</span>

												<br>
												Followers
											</div>

											<div class="grid2">
												<span class="bigger-175 blue">12</span>

												<br>
												Following
											</div>
										</div>

										<!-- /section:custom/extra.grid -->
										<div class="hr hr16 dotted"></div>
									</div>