<table class="table table-striped table-hover">
<%=_simple_thead(t("staff_list.table"))%>
<tbody>
<% @user[:notry].each do |t|%>
<%=render :partial=>'piece',:locals=>{:t=>t}%>
<% end %>
<tr><td colspan="10" align="center">------以下为试用期员工------</td></tr>
<% @user[:try].each do |t|%>
<%=render :partial=>'piece',:locals=>{:t=>t}%>
<% end %>
<% if @user[:stop].count > 0 %>
<tr><td colspan="10" align="center">------以下为停薪留职员工------</td></tr>
<% @user[:stop].each do |t|%>
<%=render :partial=>'piece',:locals=>{:t=>t}%>
<% end %>
<% end %>
</tbody>
</table>