<div class="page-header">
<h1>
	用户资料浏览
	<small>
		<i class="ace-icon fa fa-angle-double-right"></i>
		<%=@user.username%>
	</small>
</h1>
</div>

<div class="row">
	<div class="col-xs-12">
	<%=render 'left'%>
	<%=render 'right'%>
	</div>
</div>

<script src="/assets/js/jquery.colorbox-min.js"></script>