<div class="page-header">
	<h1>
		公司制度
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			新增制度
		</small>
	</h1>
</div>

<%=render 'form'%>

<%=render 'ueditor.js'%>
<script type="text/javascript">
   //实例化编辑器
    UE.getEditor('editor');
</script>