<div class="nav-search" id="nav-search">
<%=form_for :user,:url=>nav_search_project_infos_url do |f|%>
		<span class="input-icon">
			<input type="text" placeholder="输入项目名称直达 ..." class="nav-search-input" id="nav-search-input" name="name" autocomplete="off" />
			<i class="ace-icon fa fa-search nav-search-icon"></i>
		</span>
<% end %>
</div>