<div class="page-header">
	<h1>
		项目合同摘要
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			<%=@item.name%>
		</small>
	</h1>
</div>
<div class="row">
<div class="col-sm-6">
<h3 class="header smaller lighter green">合同摘要 <small>(结算方式 违约条款 结算单价)</small></h3>
<%=render 'info'%>

</div>
<div class="col-sm-6">
<h3 class="header smaller lighter green">其它信息 <small>(合同扫描件 其它相关信息详细)</small></h3>
<p>扩展功能正在开发中...</p>
</div>

</div>

