<div class="page-header">
	<h1>
		工资管理
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			用户工资管理
		</small>
	</h1>
</div>
<div class="row">
<div class="col-xs-12">
<%@users.each_with_index do |user,index|%>
<h3 class="header smaller lighter blue"><%=@group[index][:name]%></h3>
<%=render :partial=>'list',:locals=>{:@user=>user}%>
<% end %>
</div>
</div>