
<h3 class="header smaller lighter green">OA界面</h3>
<ul class="ace-thumbnails clearfix">
	<li>
		<div>
			<img src="/imgs/interface/default.jpg" alt="150x150">
			<div class="text">
				<div class="inner">
					<span>默认模板</span>
					<br>
					<a data-rel="colorbox" href="javascript:;" onclick="change_interface('no-skin')" class="cboxElement">
						<i class="ace-icon fa fa-search-plus"></i>点击浏览
					</a>
					<br />
					<a href="<%=userconfig_settings_url(:name=>'skin',:value=>'no-skin')%>" data-remote="true" data-method="put">
						<i class="ace-icon fa fa-share"></i>使用这个模板
					</a>
				</div>
			</div>
		</div>
	</li>
	<li>
		<div>
			<img src="/imgs/interface/black.jpg" alt="150x150">
			<div class="text">
				<div class="inner">
					<span>黑色模板</span>
					<br>
					<a data-rel="colorbox" href="javascript:;" onclick="change_interface('skin-1')" class="cboxElement">
						<i class="ace-icon fa fa-search-plus"></i>点击浏览
					</a>
					<br />
					<a href="<%=userconfig_settings_url(:name=>'skin',:value=>'skin-1')%>" data-remote="true" data-method="put">
						<i class="ace-icon fa fa-share"></i>使用这个模板
					</a>
				</div>
			</div>
		</div>
	</li>
	<li>
		<div>
			<img src="/imgs/interface/red.jpg" width="150" height="150" alt="150x150">
			<div class="text">
				<div class="inner">
					<span>红色模板</span>
					<br>
					<a data-rel="colorbox" href="javascript:;" onclick="change_interface('skin-2')" class="cboxElement">
						<i class="ace-icon fa fa-search-plus"></i>点击浏览
					</a>
					<br />
					<a href="<%=userconfig_settings_url(:name=>'skin',:value=>'skin-2')%>" data-remote="true" data-method="put">
						<i class="ace-icon fa fa-share"></i>使用这个模板
					</a>
				</div>
			</div>
		</div>
	</li>
	<li>
		<div>
			<img src="/imgs/interface/grey.jpg" width="150" height="150" alt="150x150">
			<div class="text">
				<div class="inner">
					<span>灰色模板</span>
					<br>
					<a data-rel="colorbox" href="javascript:;" onclick="change_interface('skin-3	')" class="cboxElement">
						<i class="ace-icon fa fa-search-plus"></i>点击浏览
					</a>
					<br />
					<a href="<%=userconfig_settings_url(:name=>'skin',:value=>'skin-3')%>" data-remote="true" data-method="put">
						<i class="ace-icon fa fa-share"></i>使用这个模板
					</a>
				</div>
			</div>
		</div>
	</li>
</ul>