<div id="steeltypeBox" class="shadow target_box dn">
<div class="target_list">
<%@factories.each do |f|%>
<a href="###" data-id="<%=f.id%>"><%=f.name%></a>
<% end %>
</div>
</div>
<div id="factoryBox" class="shadow target_box dn">
<div class="target_list">
<%@steeltypes.each do |f|%>
<a href="###" data-id="<%=f.id%>"><%=f.name%></a>
<% end %>
</div>
</div>