<div class="page-header">
<h1>
<%=t("sidebar.project.my")%>
<small>
<i class="ace-icon fa fa-angle-double-right"></i>
<%=t("trucks.title")%>
</small>
</h1>
</div>


<div class="row">
<div class="col-sm-8">

<%=render 'form'%>

</div>
<div class="col-sm-4">
</div>
</div>