<%=form_for @icost,:url=>@url,:remote=>true do |t|%>
<input type="hidden" value="<%=@income.id%>" name="income_id" />
<div class="widget-box">
<div class="widget-header">
<h5 class="widget-title">费用冲抵</h5>
</div>
<div class="widget-body">
<div class="widget-main">
<div>
<label for="form-field-8">费用项目:</label>

<%= t.text_field :info,:class=>'form-control',:placeholder=>'请输入说明'%>

</div>
<div>
<label for="form-field-8">费用花费:</label>
<%= t.text_field :cost,:class=>'form-control',:placeholder=>'请输入费用' %>
</div>

<div class="clearfix form-actions">
	<div class="col-md-offset-3 col-md-9">
		<button type="submit" class="btn btn-info">
			<i class="ace-icon fa fa-check bigger-110"></i>
			提交请求
		</button>
	</div>
</div>

</div>
</div>
</div>
<% end %>


