<div class="page-header">
	<h1>
		用户管理
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			<%=@user.username%>的用户角色组
		</small>
	</h1>
</div>


<div class="col-xs-3">
	<label>
		<input type="checkbox" value="1" class="ace ace-switch ace-switch-6" name="" checked="checked">
		<span class="lbl"></span>
	</label>
</div>
<div class="col-xs-3">
	<label>
		<input type="checkbox" value="" class="ace ace-switch ace-switch-6" name="">
		<span class="lbl"></span>
	</label>
</div>